<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.5.7/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">项目名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="fileName" name="fileName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-normal"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
							<button type="reset" class="layui-btn layui-btn-warm"><i class="layui-icon">&#xe640;</i> 清空</button>
						</div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>


		<table class="layui-hide" id="table-all" lay-filter="currentTableFilter"></table>
		
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>

		<!-- 引入jQuery的JavaScript文件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../lib/layui-v2.5.7/layui/layui.js" charset="utf-8"></script>
<script>
	var table;
    layui.use(['form', 'table', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            element = layui.element;
            table = layui.table;

        //初始化加载
        getTable('#table-all');

        function getTable(tableIndex){
            table.render({
                elem: tableIndex,
                id: 'reloadTable',
                url: 'http://localhost:8080/project-audit/page',
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                cols: [
                    [
                    {type: "checkbox", width: 50},
                    // {field: 'id', width: 80, title: 'ID', sort: true},
                    {field: 'projectName', width: 110, title: '项目名'},
                    {field: 'auditState', width: 110, title: '审核阶段'},
                    {field: 'auditorName', width: 80, title: '审核人'},
                    {field: 'auditStatus', width: 150, title: '审核状态'},
                        {field: 'remark', width: 150, title: '备注'},
                    {field: 'auditTime', width: 180, title: '审核时间',
                        templet:"<div>{{layui.util.toDateString(d.auditTime, 'yyyy-MM-dd HH:mm:ss')}}</div> "
                    },
                    {title: '操作', minWidth: 200, toolbar: '#currentTableBar', align: "center"}
                ]
                ],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 15,
                page: true,
                skin: 'line'
            });

        }


        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
			table.reload('reloadTable', {
			    page: {
			        curr: 1
			    }
			    , where: {
					condition: data.field.fileName
				}
			},'data');
			
            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'delete') {  // 监听删除操作
                //获取多选框选择的数据
                var checkStatus = table.checkStatus(obj.config.id),
                    data = checkStatus.data;
                $.ajax({
                    url: 'http://localhost:8080/project-audit/batchDelete',
                    dataType: "json", //后端返回数据格式为json
                    async: true,
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    type: "POST", //请求方式
                    success: function(req) { //请求成功时处理，req接收后端返回的json数据
                        if (req.code === 1) {
                            layer.msg(req.msgs);
                            //刷新表格
                            table.reload('reloadTable', {
                                page: {
                                    curr: 1
                                }
                            });
                        }else {
                            layer.msg(req.msgs, {
                                icon: 5
                            });
                        }
                    },
                    error: function() { //请求出错处理
                        layer.msg('请求发送异常', {
                            icon: 5
                        });
                    }
                });

            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var jsondata = obj.data;
            if (obj.event === 'delete') {
				layer.confirm('真的删除行么', function(index) {
					$.get('http://localhost:8080/project-file/delete?id=' + jsondata.id,
						function(req) {
							if (req.code === 1) {
								obj.del();
								layer.msg('删除成功');
							} else {
								layer.msg(req.msgs, {
									icon: 5
								});
							}
						});
					layer.close(index);
				});
				
            }
        });


	
    });
	
</script>

</body>
</html>