<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名"
                           th:value="${session.loginUser.getUsername()}" value="" class="layui-input">
                    <tip>填写自己登录账号的名称。</tip>
                </div>
            </div>

            <div class="layui-form-item" hidden="true">
                <label class="layui-form-label">id</label>
                <div class="layui-input-inline">
                    <input type="text" name="id" th:value="${session.loginUser.getId()}" autocomplete="off" id="id" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required" >姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" autocomplete="off" lay-verify="required" lay-reqtext="姓名是必填项，不能为空!"
                           id="name" th:value="${session.loginUser.getName()}"	placeholder="请输入姓名" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label required">电话</label>
                <div class="layui-input-block">
                    <input type="te" name="phone" autocomplete="off" lay-verify="required|phone"
                           id="phone" th:value="${session.loginUser.getPhone()}"	placeholder="请输入电话" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" lay-verify="email" autocomplete="off"
                           id="email" th:value="${session.loginUser.getEmail()}"	placeholder="请输入邮箱"		class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">职称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" autocomplete="off" lay-verify="required" lay-reqtext="职称是必填项，不能为空!"
                           id="title"  th:value="${session.loginUser.getTitle()}" placeholder="请输入职称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">专业方向</label>
                <div class="layui-input-block">
                    <input type="text" name="major" lay-verify="required" lay-reqtext="专业是必填项，不能为空!" autocomplete="off"
                           id="major" th:value="${session.loginUser.getMajor()}"	placeholder="请输入专业" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所在学院</label>
                <div class="layui-input-block">
                    <input type="text" name="college" lay-verify="required" lay-reqtext="学院是必填项，不能为空!" autocomplete="off"
                           id="college" th:value="${session.loginUser.getCollege()}"	placeholder="请输入所在学院" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">学历</label>
                <div class="layui-input-block">
                    <select name="education" lay-verify="required" lay-filter="aihao">
                        <option value=""></option>
                        <option value="2">博士</option>
                        <option value="1">硕士</option>
                        <option value="0" selected="">本科</option>
                        <option value="3">专科</option>
                    </select>
                    <div class="layui-unselect layui-form-select">
                        <div class="layui-select-title"><input type="text" placeholder="请选择" value="本科" readonly=""
                                                               class="layui-input layui-unselect"><i class="layui-edge"></i></div>
                        <dl class="layui-anim layui-anim-upbit">
                            <dd lay-value="" class="layui-select-tips">请选择</dd>
                            <dd lay-value="2" class="">博士</dd>
                            <dd lay-value="1" class="">硕士</dd>
                            <dd lay-value="0" class="layui-this">本科</dd>
                            <dd lay-value="3" class="">专科</dd>
                        </dl>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="gender" value="男" title="男" checked="">
                    <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                            class="layui-anim layui-icon"></i>
                        <div>男</div>
                    </div>
                    <input type="radio" name="gender" value="女" title="女">
                    <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                        <div>女</div>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">上传图片</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="test1"><i class="layui-icon"></i>图片上传</button>
                    <button type="button" class="layui-btn" id="photo"><i class="layui-icon"></i>拍照上传</button><br>
                    <br>
                    <tip>只能上传.png,.jpeg,.jpg格式的文件，大小不能超过20MB。</tip>
                    <button type="button" class="layui-btn" id="test2" style="display: none">开始上传</button>
                </div>
            </div>



            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>



        </div>
    </div>
</div>
<script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form','miniTab','upload'], function () {
        var form = layui.form,
            layer = layui.layer,
            miniTab = layui.miniTab,
            upload = layui.upload,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: 'http://localhost:8080/researcher/update',
                dataType: "json", //后端返回数据格式为json
                async: true,
                contentType: "application/json",
                //表单参数值，application/json类型时要使用stringify方法将json转为json字符串，后端才能正确接收到
                data: JSON.stringify(data.field),
                type: "POST", //请求方式
                success: function(req) { //请求成功时处理，req接收后端返回的json数据
                    if (req.code === 1) {
                        console.log("基本资料上传图片");
                        parent.layer.msg(req.msgs);
                        // miniTab.deleteCurrentByIframe();
                        //触发隐藏的上传文件按钮，进行文件上传
                        $('#test2').trigger('click');
                    }else if(req.code === 1000){
                        layer.msg(req.msgs,{
                            icon: 5
                        });
                        top.location.href = '../page/login.html';
                    } else {
                        layer.msg(req.msgs, {
                            icon: 5
                        });
                    }
                },
                error: function() { //请求出错处理
                    layer.msg('请求发送异常', {
                        icon: 5
                    });
                }
            });
            return false;
        });


        //指定允许上传的文件类型
        upload.render({
            elem: '#test1'
            ,url: 'http://localhost:8080/researcher/photoUpload' //上传接口
            ,accept: 'file' //普通文件
            ,auto: false
            // ,data: {
            //     projectId: () => projectId1,
            //     projectState: () => projectState1
            // }
            ,method: 'post'
            ,size: 20480
            ,exts: 'png|jpeg|jpg|' 	//允许上传的文件类型
            ,bindAction: '#test2'
            ,choose: function () {
                console.log("选择图片回调");
                $('#photo').addClass('layui-btn-disabled');
            }
            ,done: function(res,a,b){
                // layer.msg('上传成功');
                console.log('jjjjj',res);
            }
            ,error: function(index, upload){
                layer.msg("上传出现异常，请稍后再试");
            }
        });


        $('#photo').on("click",function () {
            layer.open({
                title: '拍照',
                type: 2,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: '../page/more/photo.html',
            });
        });



    });
</script>
</body>
</html>