<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">原密码</label>
                <div class="layui-input-block">
                    <input type="password" name="oldPassword" lay-verify="required" lay-reqtext="原密码不能为空" placeholder="请输入原密码"  value="" class="layui-input">
                    <tip>填写自己账号的原密码。</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="newPassword" lay-verify="required" lay-reqtext="新密码不能为空" placeholder="请输入新密码"  value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">确认新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="againPassword" lay-verify="required" lay-reqtext="新的密码不能为空" placeholder="请确认新的密码"  value="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form','miniTab'], function () {
        var form = layui.form,
            layer = layui.layer,
            miniTab = layui.miniTab,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {

            $.ajax({
                url: '/researcher/resetPwd',
                dataType: "json", //后端返回数据格式为json
                async: true,
                contentType: "application/json",
                //表单参数值，application/json类型时要使用stringify方法将json转为json字符串，后端才能正确接收到
                data: JSON.stringify(data.field),
                type: "POST", //请求方式
                success: function(req) { //请求成功时处理，req接收后端返回的json数据
                    console.log(req);
                    console.log(req.code);
                    if (req.code === 1) {
                        layer.msg("修改密码成功,3秒后跳转到登录页!",{time:3000},function () {
                            top.location.href = '../page/login.html';
                        });
                    } else {
                        layer.msg(req.msgs, {
                            icon: 5
                        });
                    }
                },
                error: function() { //请求出错处理
                    layer.msg('请求发送异常', {
                        icon: 5
                    });
                }
            });
            return false;
        });

    });
</script>
</body>
</html>